# Override default language statistics for this repository. 
# See https://github.com/github/linguist/blob/master/docs/overrides.md

# Use linguistic-documentation to specifiy paths that contain doc and are therefore exluced from lanugate statistics
docs/* linguist-documentation

# Define files with .step extension as SAS 
#   - According to https://github.com/github/linguist/blob/master/docs/overrides.md, language names are case-insensitive
#   - SAS is a known language, as it is listed in https://github.com/github/linguist/blob/master/lib/linguist/languages.yml 
# Try 1:
# *.step linguistic-language=SAS linguist-detectable
# Try 2:
*.step linguistic-language=SAS
